* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: block;
}

h1{
    font-family: 'Staatliches', cursive;
    font-size: 5rem;
}

#myVideo {
    width: 100vw;
    height: 50rem;
}

.description{
    margin-top: 15rem;
}

.wrapper {
    width: 100%; 
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -20rem;
    width: 20rem;
    transition: margin .25s ease-out;
    position: absolute;
    z-index: 999;
    background-color: #040c0e;
    border-right: solid white 4px;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 100vw;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s; 
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0rem;
}

#wrapper.toggled #page-content-wrapper{
    width: 100vw;
}

.list-menu-style{
    width: 100%;
    margin-top: 1rem !important;
    right: 0;
    left: auto !important;
}

#menu-toggle:hover{
    color: white;
}
