* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: block;
}

h1{
    font-family: 'Staatliches', cursive;
    font-size: 5rem;
}

#myVideo {
    min-width: 100px;
    height: 35rem;
}

.description{
    margin-top: 15rem;
}
